a:link {
  color: #5E7C88;
}

#logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  height: 100vh;
  background-image: url("http://i.imgur.com/eQQLr0D.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  transition: height 999999s;
}


.learn-more {
  background-color: #fbf9ea;
  color: #4B5F87;
  padding-bottom: 0px;
}

.learn-more h2 {
  color: #5E7C88;
  font-size: 25px;

 }

.learn-more h3 {
  color: #5E7C88;
  font-family: 'Shift', sans-serif;
  font-size: 20px;
}

.logo {
	   display:block;
    margin:auto;
}

.line {
  color: #FCFBF5;
  padding: 25px;
  font-family: "Open Sans Condensed";
  background-image: url("http://i.imgur.com/RdGS8WH.gif");
}

.menu h2 {
  margin-top: 10px;
  font-family: 'Shift', sans-serif;
  color: #fbf9ea;
}

.menu h3 {
  font-family: 'Shift', sans-serif;
  color: #fbf9ea;
}

.pitch {
	  background-color: #fbf9ea;
}

.pitch h2 {
	  color: #FEB41C;
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    font-size: 40px;
    --text-shadow: 1px 1px #2f3239;
}

#instafeed {
	background-color: #fbf9ea;
}

#instafeed a {
  background-color: #5e7c88;
  padding:2px 2px 2px 2px;
  margin:10px;
  display:inline-block;
  border-radius: 2px;
  position:relative;
}

#instafeed .likes {
  background:rgba(254,180,28,0.75);
  font-family: 'Shift', sans-serif;
  font-size:2em;
  position:absolute;
  color:#ffffff;
  right:0px;
  top:0px;
  left:0px;
  opacity:0;
  text-align:center;

  text-shadow:0 1px rgba(0,0,0,0.5);
  -webkit-font-smoothing:antialiased;
  -webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
  opacity:1;
}

.cross {
	  background-color: #FEB41C;
}

@media (min-width: @screen-sm-min) {
  h2 {
    font-size: 35px;
   }

  h3 {
    font-size: 20px;
  }
}

@media (min-width: @screen-md-min) {
  h2 {
    font-size: 40px;
   }

  h3 {
    font-size: 25px;
  }
}

@media (min-width: @screen-lg-min) {
  h2 {
    font-size: 45px;
   }

  h3 {
    font-size: 30px;
  }
}
